
body {
  background: rebeccapurple;
  color: aliceblue;
  font-family: sans-serif;
  h1 {
    color: cornsilk;
    font-weight: normal;
  }
  code {
    color: invert(rebeccapurple);
    font-size: 130%;
  }
}